{% extends "base.html" %}

{% block title %}Register{% endblock %}

{% block content %}
<div class="container">
    <div class="row justify-content-center align-items-center min-vh-100">
        <div class="col-md-6">
            <div class="card shadow">
                <div class="card-body">
                    <h2 class="card-title text-center mb-4">Register for an account</h2>
                    <form action="{% url 'arc:register' %}" method="POST">
                        {% csrf_token %}
                        <div class="mb-3">
                            <label for="username" class="form-label">E-Mail</label>
                            <input type="text" class="form-control" id="username" name="username" required
                                placeholder="Enter your username">
                        </div>
                        <div class="mb-3">
                            <label for="password1" class="form-label">Password</label>
                            <input type="password" class="form-control" id="password1" name="password1" required
                                placeholder="Enter your password">
                        </div>
                        <div class="mb-3">
                            <label for="password2" class="form-label">Confirm Password</label>
                            <input type="password" class="form-control" id="password2" name="password2" required
                                placeholder="Confirm your password">
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Register</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
