{% extends "base.html" %}

{% load static %}

{% block title %}{{ task.name }} - {{ dataset.name }}{% endblock %}

{% block content %}
<div class="d-flex justify-content-between align-items-center">
    <h1>{{ task.name }} - {{ dataset.name }} ({{ solved_count }}/{{ total_count }} solved)</h1>
    <a href="{% url 'arc:random_task' dataset_id=dataset.id %}" class="btn btn-primary">Next Task</a>
</div>
<div id="workspace">
    <div id="demonstration_examples_view">
        <div class="text" id="task_demo_header">Task demonstration</div>
        <div id="task_preview"></div>
    </div>

    <div id="evaluation_view">

        <div id="evaluation-input-view">
            <div class="text">Test input grid <span id="current_test_input_id_display">0</span>/<span
                    id="total_test_input_count_display">0</span>
                <button class="btn btn-sm btn-light" onclick="nextTestInput()">Next test input</button>
            </div>

            <div id="evaluation_input" class="selectable_grid"></div>
        </div>

        <div id="evaluation_output_editor">
            <div id="load_task_control_btns">
                <label for="show_symbol_numbers">Show symbol numbers: </label>
                <input type="checkbox" id="show_symbol_numbers" name="show_symbol_numbers"
                    onchange="changeSymbolVisibility()">
            </div>

            <div class="row g-3 align-items-center">
                <div class="col-12">
                    <div class="input-group input-group-sm">
                        <span class="input-group-text">Grid size</span>
                        <input type="text" class="form-control form-control-sm" id="output_grid_size" name="size"
                            value="3x3" placeholder="e.g. 3x3">
                        <button type="button" class="btn btn-sm btn-primary"
                            onclick="resizeOutputGrid()">Resize</button>
                    </div>
                </div>
                <div class="col-12">
                    <button class="btn btn-sm btn-light" onclick="copyFromInput()">Copy from input</button>
                    <button class="btn btn-sm btn-light" onclick="resetOutputGrid()">Reset grid</button>
                    <button class="btn btn-sm btn-primary" onclick="submitSolution()">Submit!</button>
                </div>

                <div id="output_grid" class="col-12">
                    <div class="edition_grid selectable_grid">
                        <div class="arc-row">
                            <div class="arc-cell" symbol="0" x="0" y="0"></div>
                            <div class="arc-cell" symbol="0" x="0" y="1"></div>
                            <div class="arc-cell" symbol="0" x="0" y="2"></div>
                        </div>
                        <div class="arc-row">
                            <div class="arc-cell" symbol="0" x="1" y="0"></div>
                            <div class="arc-cell" symbol="0" x="1" y="1"></div>
                            <div class="arc-cell" symbol="0" x="1" y="2"></div>
                        </div>
                        <div class="arc-row">
                            <div class="arc-cell" symbol="0" x="2" y="0"></div>
                            <div class="arc-cell" symbol="0" x="2" y="1"></div>
                            <div class="arc-cell" symbol="0" x="2" y="2"></div>
                        </div>
                    </div>
                </div>


                <div class="col-12">
                    <div>
                        <input type="radio" id="tool_edit" name="tool_switching" value="edit" checked>
                        <label for="tool_edit">Edit</label>

                        <input type="radio" id="tool_select" name="tool_switching" value="select">
                        <label for="tool_select">Select</label>

                        <input type="radio" id="tool_floodfill" name="tool_switching" value="floodfill">
                        <label for="tool_floodfill">Flood fill</label>
                    </div>
                </div>

            </div>

            <div id="symbol_picker">
                <div class="symbol_preview symbol_0 selected-symbol-preview" symbol="0"></div>
                <div class="symbol_preview symbol_1" symbol="1"></div>
                <div class="symbol_preview symbol_2" symbol="2"></div>
                <div class="symbol_preview symbol_3" symbol="3"></div>
                <div class="symbol_preview symbol_4" symbol="4"></div>
                <div class="symbol_preview symbol_5" symbol="5"></div>
                <div class="symbol_preview symbol_6" symbol="6"></div>
                <div class="symbol_preview symbol_7" symbol="7"></div>
                <div class="symbol_preview symbol_8" symbol="8"></div>
                <div class="symbol_preview symbol_9" symbol="9"></div>
            </div>
        </div>

        <div id="error_display"></div>
        <div id="info_display"></div>
    </div>
</div>
</div>
{% endblock %}

{% block extra_css %}
<link rel="stylesheet" type="text/css" href="{% static 'css/common.css' %}">
<link rel="stylesheet" type="text/css" href="{% static 'css/testing_interface.css' %}">
<link href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap" rel="stylesheet">
{% endblock %}

{% block extra_js %}
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
{% load static %}
<script src="{% static 'js/common.js' %}"></script>
<script src="{% static 'js/testing_interface.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        loadJSONTask({{ task.train | safe }}, {{ task.test | safe }});
    });
</script>
{% endblock %}
